[Unit]
Description=waveControl Device Management
After=network.target postgresql.service

[Service]
Type=simple
User=_wavecontrol
Group=_wavecontrol
WorkingDirectory=/var/wavecontrol
Environment=WAVECONTROL_DSN=postgres://wavecontrol:password@127.0.0.1/wavecontrol?sslmode=disable
Environment=WAVECONTROL_JWT_SECRET=changeme-use-openssl-rand-base64-48-to-generate
ExecStart=/usr/local/bin/wavecontrol -d
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
